.container {
  text-align: center;
}

.container > .navbar-nav > NavLink {
  text-align: right;
}

.navbar-nav > a {
  padding-left: 50%;
}

nav ul {
  list-style: none;
  display: flex;
  background-color: lightgray;
  margin: 5px;
}

nav ul li {
  padding: 15px;
}

.navbar-brand, nav ul li a {
  color: darkblue;
  font-weight: bolder;
  text-align: center;
  text-decoration: none;
}

.navbar-nav > h2 {
  margin: 9px 0;
}

.active {
  border-bottom: 4px solid darkslategray;
}
